<head prefix="DC: http://purl.org/dc/terms/">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    Kairos {{ site.issue }}: {{ site.shortTitle }} - {{page.fileName}}
  </title>
  <!--BEGIN Dublin Core Metadata-->
  <meta name="DC.title" content="{{ site.title }}" />
  <meta name="DC.creator" content="{{ site.author }}" />
  <meta name="DC.type" content="Text" />
  <meta name="DC.format" content="text/html" />
  <meta name="DC.language" content="en" />
  <meta name="DC.subject" content="{{ site.keywords }}" />
  <meta
    name="DC.publisher"
    content="Kairos: A Journal of Rhetoric, Technology, and Pedagogy"
  />
  <meta name="DC.source" content="{{ site.issue }}" />
  <meta name="DC.isPartOf" content="{{ site.section }}" />
  <meta name="DC.date" content=" {{ site.publicationDate }} " />
  <meta
    name="DC.identifier"
    content="http://kairos.technorhetoric.net/{{site.issue}}/{{site.section}}/{{site.lastName}}/{{page.fileName}}.html"
  />
  <meta name="DC.description" content=" {{ site.abstract }} " />
  <!--END Dublin Core Metadata-->
  <!--BEGIN Metdata for Google Scholar -->
  <meta name="citation_title" content=" {{ site.title }} " />
  <meta name="citation_author" content=" {{ site.author }} " />
  <meta name="citation_date" content=" {{ site.googleDate }} " />
  <!--END Metadata for Google Scholar-->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="styles.css" />
</head>
